$color-1 :#034ea2;
$color-2 :#afb3b8;
$color-3 : #6f2c91;
$taxt_color: #666666;
$border :#afb3b873;
$table_bg_1: #f7faff;
$table_bg_2: #fcfcfc;


$facebook: #3b579d;
$twitter: #1da0f1;
$linkedin: #007fbc;
$pinterest: #cb2027;


$bg-color: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
