
*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box; 

}

html{
    font-size: 62.5%;
    scroll-behavior: auto;

}

li{
    list-style: none;
}
 a{
     text-decoration: none;
 }
