@font-face {
    font-family: There;
    src: url(../font/Over\ There.ttf);
}

@font-face {
    font-family: AnekTelugu;
    src: url(../font/AnekTelugu_Condensed-Light.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Light.ttf);
}